@page "/testpage"
@using Kysect.GithubActivityAnalyzer.Models.ApiResponses
@using System.Text.Json
@inject HttpClient Http
<h1>TestFunc</h1>
<p>
    <input @bind="SetName" @bind:event="oninput" />
</p>
<button class="btn btn-primary" @onclick="CreateClient">Click me</button>
@if(SetName == null)
{
    <p><em>Please write name</em></p>
}
else
{
    <p>Name: @SetName </p>
}
@if (Info == null)
{
    <p>Please wait...</p>
}
else
{
    <p>Contributions: @Info.Total</p>
}

@code {
    private string SetName { get; set; } = String.Empty;
    private ActivityInfo Info { get; set; }



    protected async Task CreateClient()
    {
        Info = await Http.GetFromJsonAsync<ActivityInfo>($"GitHubApi?username={SetName}");
    }
}
