@page "/testpage"
@using Kysect.GithubActivityAnalyzer.ApiAccessor.ApiResponses
@inject HttpClient Http
<h1>TestFunc</h1>
<p>
    <input @bind="_setName" @bind:event="oninput" />
</p>
<button class="btn btn-primary" @onclick="GetActivityFromGithub">From Github</button>
<button class="btn btn-primary" @onclick="GetActivityFromDB">From DB</button>
@if(_setName == null)
{
    <p><em>Please write name</em></p>
}
else
{
    <p>Name: @_setName </p>
}
@if (_info == null)
{
    <p>Please wait...</p>
}
else
{
    <p>Contributions: @_info.Total</p>
}

@code {
    private string _setName = String.Empty;
    private ActivityInfo _info;



    protected async Task GetActivityFromGithub()
    {
        _info = await Http.GetFromJsonAsync<ActivityInfo>($"GitHubApi/fromGithub?username={_setName}");
    }

    protected async Task GetActivityFromDB()
    {
        _info = await Http.GetFromJsonAsync<ActivityInfo>($"GitHubApi/fromDB?username={_setName}");
    }
}
