@page "/TeamDashboard"
@using Radzen.Blazor
@inject HttpClient Http
<h1>Team Dashboard</h1>

<p>
    <input @bind="@_teamName" @bind:event="oninput" />
</p>

@if (_teamName is null)
{
    <p><em>Please write team name</em></p>
}
else
{
    <p>Team name: @_teamName </p>
}

<p>
    <button class="btn btn-primary" @onclick="GenerateBarChart">Generate Bar Chart</button>
</p>
@if (_errorMessageVisible)
{
    <p><font size="3" color="red" face="Arial">No such team</font></p>
}

@if (_statsIsVisible)
{
    <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
            <RadzenChart>
                <RadzenBarSeries Data="@_teamInfo" CategoryProperty="Username" Title=@DateTime.Now.Year.ToString() LineType="LineType.Dashed" ValueProperty="TotalContributions" />
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Total Contributions" />
                </RadzenValueAxis>
                <RadzenBarOptions Radius="5" />
            </RadzenChart>
        </div>
    </div>
}
else
{
    <p><img src="images/Block-icon.jpg" height="60% " width="60%"></p>
}